name: AWS S3 Deploy
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: ${{ runner.OS }}-build-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-build-
            ${{ runner.OS }}-

      - name: Install package depenedencies
        run: npm install

      - name: Build the package
        env:
          VUE_APP_BASE_URL: ${{ secrets.VUE_APP_BASE_URL }}
          VUE_APP_MEDIA_URL: ${{ secrets.VUE_APP_MEDIA_URL }}
        run: npm run build

      - name: Deploy images to AWS S3
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_EC2_METADATA_DISABLED: true
        run: aws s3 cp dist s3://reclass.skpatro23.com --recursive
